$primary_background: #0e1032;
$yellow: #ffd300;
$pink:#ffc0cb;
$blue:#badeff;
$green:#baffcd;
$brown:#f5deb3;
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@font-face {
  font-family: SFBold;
  src: url("../fonts/SFPRODISPLAYBOLD.OTF");
}
@font-face {
  font-family: SFRegular;
  src: url("../fonts/SFPRODISPLAYREGULAR.OTF");
}

.animate{
    animation-name: spin;
    animation-duration: 5000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@media screen and (max-width:1001px) {
  
  .removed{
    display: none;
  }
}