.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70%;
  margin: auto;
  height: 100vh;
  background-color: $primary_background;
  color: white;
  font-family: SFRegular;

  & a {
    text-decoration: none;
    color: inherit;
    padding: 12px 40px;
    border-radius: 7px;
    background-color: $yellow;
    color: black;
    transition: 800ms ease-in-out;

    &:hover {
      opacity: 0.6;
    }
  }
  & .music-box {
    background-image: url("../img/5.jpg");
    height: 500px;
    width: 500px;
    background-size: contain;
    border-radius: 50%;
    background-repeat: no-repeat;
  }
}
