.socialnumbers {
  font-family: SFRegular;
  background-color: white;
  font-size: 14px;
  padding: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  & .socialnumbersinner {
    background-color: $primary_background;
    background: $primary_background url("../img/yellow-dots.png") ;
    background-size: contain;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:90%;
    color:white;
    padding:50px;
    border-radius: 10px;
    & div {
      text-align: center;
      & .title {
        font-size: 20px;
        margin-bottom: 10px;
        font-family: SFBold;

      }
    }
   
  }
}
