.tvinw {
  font-family: SFBold;
  font-size: 30px;

  & .title {
    text-align: center;
    margin-bottom: 50px;
  }
  & .album-name {
    display: flex;
    align-items: center;
    justify-content: space-around;
    & #background-video {
      height: 57vh;
      border-radius: 10px;
    }
    & div {
      text-align: center;
      & img {
        width: 30%;
        margin-top: 30px;
      }
    }
  }
  & .listen {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 50px auto 0 auto;
    width: 90%;
    & iframe {
      width: 100%;
    }
    & img {
      width: 10%;
    }
  }
}
