@media screen and (max-width: 1361px) {
  .tvinw {
    & .album-name {
      & #background-video {
        height: 47vh;
      }
    }
    & .listen {
      width: 70%;

      & img {
        margin: 50px;
      }

      & iframe {
        width: 60%;
      }
    }
  }
}

@media screen and (max-width: 1281px) {
  .tvinw {
    & .album-name {
      & #background-video {
        height: 40vh;
      }
    }
    & .listen {
      width: 80%;

      & img {
        margin: 50px;
      }

      & iframe {
        width: 60%;
      }
    }
  }
}

@media screen and (max-width: 1001px) {
  .tvinw {
    & .listen {
      & iframe {
        width: 100%;
      }
    }
  }
}
