* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@font-face {
  font-family: SFBold;
  src: url("../fonts/SFPRODISPLAYBOLD.OTF");
}
@font-face {
  font-family: SFRegular;
  src: url("../fonts/SFPRODISPLAYREGULAR.OTF");
}
.animate {
  -webkit-animation-name: spin;
          animation-name: spin;
  -webkit-animation-duration: 5000ms;
          animation-duration: 5000ms;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

.navbar {
  background-color: #0e1032;
  height: 10vh;
  color: white;
  font-family: SFRegular;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 14px;
}
.navbar p {
  font-family: SFBold;
}
.navbar ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.navbar ul li {
  margin-right: 40px;
}
.navbar ul li a {
  text-decoration: none;
  color: inherit;
  padding: 10px;
  border-radius: 4px;
}
.navbar ul li a:hover {
  background-color: #ffd300;
  color: black;
}
.navbar .bar {
  display: none;
}

.hero {
  background-color: #0e1032;
  background-image: url("../img/bg-black-shape.png");
}
.hero .hero-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  margin: auto;
  height: 90vh;
  color: white;
  font-family: SFRegular;
  font-size: 14px;
}
.hero .hero-inner p {
  margin: 20px 0;
}
.hero .hero-inner a {
  text-decoration: none;
  color: inherit;
  padding: 12px 40px;
  border-radius: 7px;
  background-color: #ffd300;
  color: black;
  transition: 800ms ease-in-out;
  margin-top: -15px;
}
.hero .hero-inner a:hover {
  opacity: 0.6;
}
.hero .hero-inner .music-box {
  background-image: url("../img/5.png");
  height: 500px;
  width: 500px;
  background-size: contain;
  border-radius: 50%;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero .hero-inner button {
  background-color: #ffd300;
  color: black;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  border: none;
  font-family: SFBold;
  cursor: pointer;
}

@-webkit-keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.socialnumbers {
  font-family: SFRegular;
  background-color: white;
  font-size: 14px;
  padding: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.socialnumbers .socialnumbersinner {
  background-color: #0e1032;
  background: #0e1032 url("../img/yellow-dots.png");
  background-size: contain;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  color: white;
  padding: 50px;
  border-radius: 10px;
}
.socialnumbers .socialnumbersinner div {
  text-align: center;
}
.socialnumbers .socialnumbersinner div .title {
  font-size: 20px;
  margin-bottom: 10px;
  font-family: SFBold;
}

.tvinw {
  font-family: SFBold;
  font-size: 30px;
}
.tvinw .title {
  text-align: center;
  margin-bottom: 50px;
}
.tvinw .album-name {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.tvinw .album-name #background-video {
  height: 57vh;
  border-radius: 10px;
}
.tvinw .album-name div {
  text-align: center;
}
.tvinw .album-name div img {
  width: 30%;
  margin-top: 30px;
}
.tvinw .listen {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 50px auto 0 auto;
  width: 90%;
}
.tvinw .listen img {
  width: 10%;
}

.stylish {
  width: 100%;
  background-color: #0e1032;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  color: white;
  font-family: SFBold;
  font-size: 30px;
  margin-top: 50px;
  padding-bottom: 50px;
}
.stylish .style {
  padding: 50px 0;
  text-align: center;
}
.stylish .images {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.stylish .images img {
  width: 100%;
}

.fans {
  font-family: SFRegular;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 50px;
}
.fans .title {
  font-size: 30px;
  font-family: SFBold;
  padding: 50px;
}
.fans .comments {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  width: 80%;
}
.fans .comments div {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  border-radius: 10px;
}
.fans .comments .comment1 {
  background-color: #baffcd;
}
.fans .comments .comment2 {
  background-color: #f5deb3;
}
.fans .comments .comment3 {
  background-color: #ffc0cb;
}
.fans .comments .comment4 {
  background-color: #badeff;
}
.fans .comments .comment5 {
  background-color: #ffc0cb;
}
.fans .comments .comment6 {
  background-color: #baffcd;
}
.fans .comments .comment7 {
  background-color: #f5deb3;
}
.fans .comments .comment8 {
  background-color: #baffcd;
}
.fans .comments .comment9 {
  background-color: #badeff;
}

.footer {
  font-size: 14px;
  padding: 40px;
  background-color: #0e1032;
  background-image: url("../img/green.png");
  background-size: contain;
  color: white;
  font-family: SFRegular;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.footer .links a {
  text-decoration: none;
  color: black;
  background-color: #ffd300;
  padding: 12px 40px;
  border-radius: 10px;
  margin-right: 10px;
  transition: 800ms ease-in-out;
}
.footer .links a:hover {
  opacity: 0.6;
}